{% extends 'core.html.twig' %}

{% block content %}

    {% if errorMessage %}
        {% include 'error.html.twig' with errorMessage %}
    {% endif %}

    {% if session.username %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary">
                        <i><b>{{ session.username }}</b></i>
                        {{ successMessage }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
{#        // in de controller een case zetten met geen gebruiker gevonden#}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        Geen gebruiker gevonden! Het kan zijn dat je je pagina moet refreshen.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}