{% extends 'core.html.twig' %}

{% block content %}

    {% if errorMessage %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if userName %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary">
                        <i><b>{{ userName }}</b></i>
                        {{ successMessage }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        Geen gebruiker gevonden!
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}