<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

{% include 'navigation.html.twig' %}

{% block content %}

{% endblock %}

{% include 'scripts.html.twig' %}

{% include 'registrationform.html.twig' %}

{% include 'footer.html.twig' %}


</body>
</html>