<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OOP Project Movie</title>
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ css("main.css") }}">
    {% endblock %}
</head>
<body>

{% include 'navigation.html.twig' %}

{% block content %}

{% endblock %}

{% include 'scripts.html.twig' %}

{% include 'searchform.html.twig.html.twig' %}

{% include 'footer.html.twig' %}


</body>
</html>