<footer class="footer col-12">
    <ul class="footer__list">
        <li class="footer__listitem text-muted">Project OOP Movie</li>
        <li class="footer__listitem text-muted">Alle rechten voorbehouden &copy; 2020</li>
    </ul>
</footer>