{% extends 'core.html.twig' %}

{% block content %}
  <h1 class="h1 text-center text-uppercase mt">
    Welkom bij: Project OOP movie!
  </h1>
  <div class="container mt">
    <div class="row">
      {% if session.loggein %}

      {% endif %}

      {% if session.loggedIn %}
        <div class="offset-md-4 col-md-4">
          <p class="text-justify">
            Dit is een 2e jaars schoolproject waarin ik aantoon dat ik <a href="https://en.wikipedia.org/wiki/Object-oriented_programming">
              OOP
            </a>(<span class="text-italic font-weight-bold">
              Object-oriented programming
            </span>) beheers.
          </p>

          <ul class="fa-custom d-flex justify-content-between">
            <li><i class="fa-custom__items fab fa-php"></i></li>
            <li><i class="fa-custom__items fab fa-html5 html-color"></i></li>
            <li><i class="fa-custom__items fab fa-sass sass-color"></i></li>
          </ul>
        </div>
      {% endif %}

      {% if not session.loggedIn %}
        <div class="offset-md-2 col-md-5">
          <p class="text-justify">
            Dit is een 2e jaars schoolproject waarin ik aantoon dat ik <a href="https://en.wikipedia.org/wiki/Object-oriented_programming">
              OOP
            </a>(<span class="text-italic font-weight-bold">
              Object-oriented programming
            </span>) beheers.
          </p>

          <ul class="fa-custom d-flex justify-content-between">
            <li><i class="fa-custom__items fab fa-php"></i></li>
            <li><i class="fa-custom__items fab fa-html5 html-color"></i></li>
            <li><i class="fa-custom__items fab fa-sass sass-color"></i></li>
          </ul>
        </div>

        <div class="col-md-3">
          {% include 'registrationform.html.twig' %}

          <a href="{{ rootFolder }}cruds/showLoginForm.php"
            class="btn btn-outline-info">
            Al een account?
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
