<div class="row">
    <div class="col-md-4 offset-8">
        <aside>
            <form action="{{ root }}cruds/verifyUser.php" method="post">
                <input type="text" placeholder="Username" name="user[username]" required>
                <input type="password" placeholder="password" name="user[password]" required>
                <input type="submit" value="Log in">
            </form>

            <a href="{{ root }}cruds/createUser.php">Nog geen account?</a>
        </aside>
    </div>
</div>
