<form action="{{ root }}cruds/updateWatchlistRating.php" method="post">
    <label for="rating">Choose a rating:</label>
    <select name="rating" id="rating">
        <option value="1" class="value">1</option>
        <option value="2" class="value">2</option>
        <option value="3" class="value">3</option>
        <option value="4" class="value">4</option>
        <option value="5" class="value">5</option>
        <option value="6" class="value">6</option>
        <option value="7" class="value">7</option>
        <option value="8" class="value">8</option>
        <option value="9" class="value">9</option>
        <option value="1]" class="value">10</option>
    </select>
    <input type="hidden" name="movie" value="{{ movie.imdbID }}">
    <input type="submit" value="wijzig rating">
</form>
