<div class="row">
    <div class="col-md-4 offset-8">
        <aside>
            <form action="user.php" method="post">
                <input type="text" placeholder="Username" name="user[username]">
                <input type="password" name="user[password]" placeholder="password">
                <input type="submit" value="Registreer">
            </form>
        </aside>
    </div>
</div>
