<form class="form-inline my-2 my-lg-0 position-relative" action="{{root}}cruds/readSearch.php" method="get">
	<input class="form-control mr-sm-2" type="text" placeholder="Zoek naar films" aria-label="Zoek films..." name="title">

	<button class="btn btn-warning my-2 my-sm-0" type="submit">Zoeken!</button>
</form>