{% extends 'core.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                    <div class="movie">
                        <img src="{{ Poster }}" alt="" class="movie__img">

                        <p class="movie__title">{{ Title }}</p>

                        <p class="movie__rating">{{ Year }}</p>
                        <p> {{ Plot }}</p>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}