<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <span>{{ succesMessage }}</span>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>