{% extends 'core.html.twig' %}

{% block content %}

    {% if errorMessage %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <span>{{ movieTitle }}{{ errorMessage }}</span>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="row">
                {% if succesMessage %}
                    <div class="col">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ movieTitle }}{{ succesMessage }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}

                {% for movie in watchlist %}

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% endblock %}