{% extends 'core.html.twig' %}

{% block content %}

{% if errorMessage %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row">

        {% for movie in watchlist %}
        <form action="{{ root }}cruds/addWatchlist.php">
            //pull down menu voor rating maken
            //checkbox voor algezien maken
        
        </form>         

        {% endfor %}

    </div>
</div>

{% endif %}

{% endblock %}